body {
	color: #686868;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1rem; /* 16px - 24px baseline */
}

h1, h2, h3 {
	color: #383838;
	font-family: 'Roboto', sans-serif;	
	font-weight: 900;
	margin: 0;
	padding: 0; 
	text-transform: uppercase;
}

h1 { 
	font-size: 2rem; /* 32 */ 
	line-height: 1.125; /* 24 + (24/2) = 36 (baseline secundario) / 32 (tamaño de fuente) */
	padding-top: 0.075rem;
	margin-bottom: 0.675rem; /* 12 = 48 (baseline) - 36 (line-height) */
} 

h2, h3 {	
	font-size: 1.5rem; 
	line-height: 1.25;
}

h3 {
	margin-bottom: 2.25rem;
}

h3:after {
	border-bottom: 2px solid #03a9f4;
	content: "";
	display: block;
	padding-top: 0.75rem;
	margin-bottom: -0.125rem;
	width: 30px;
}

h4 {
	color: #383838;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5;
	margin: 0 0 1.125rem 0;
	padding: 1.5rem 0 0 0;
	text-transform: uppercase;
}

a, button, .button {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

p {
	line-height: 1.5;
	margin: 0;
	padding: 0;
	word-spacing: 0.1875rem;
}

button, .button {
	font-size: 0.875rem;
	font-weight: 600;
	background-color: #03a9f4;
	width: 100%;
	padding: 1rem 0 1.125rem 0;
	/*border-radius: 0;	*/
	color: #ffffff;
}

button:hover, .button:hover {
	background: #0288D1;
}

ul,
ol,
dl {
  line-height: 1.5;
  margin-bottom: 0;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
  border: none;
  border-bottom: 1px solid #aaa;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  color: #aaa;
}

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus,
textarea:focus {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

select {
	border: none;
	border-bottom: 1px solid #aaa;
	color: #aaa;
	background-color: transparent;
}

section {
	border-bottom: 1px solid #eee;
	margin-bottom: -1px;
	padding: 4.5rem 0;
}

/*ESTILOS GENERALES*/

.imgCapacitacion{
	width: 100%;
	background: #eee;
	height: 27rem;
}

.descriptivo {
	color: #888888; 
	font-size: 0.875rem;
	line-height: 1.125rem;
	margin-bottom: 0.175rem;
	padding-top: 0.215rem;	
}

/*PRESENTACION*/
.nav{
	min-height: 4.5rem;
	padding-top: 1.175rem; 
}
.nav ul {
margin: 0; }

.nav ul li {
list-style-type: none; 
display: table-cell;
float: right;
color: #515151;
line-height: 2.5;
text-transform: uppercase;
font-size: 0.875rem;
}

.nav a {
margin-left: 1.875em;
color: #333;
}

.nav a:hover {
color: #03a9f4; }

#titulo {
	padding-top: 3rem;
}

#presentacion ul li {
	margin-bottom: 0.375rem; /*revisar*/
}

/*DOCENTES*/

#docentes img {
	padding-top: 1.875rem;
	margin-bottom: 0.375rem;
}

#docentes h3 {
	margin-bottom: 0;
}

#docentes span {
	font-size: 0.875rem; 
	color: #888888; 
}

/*CERTIFICACIONES*/

#certificaciones h4 { /*repetido*/
	margin: 0;
	padding: 0;
}

#certificaciones .row {
	padding-top: 1.875rem;
	margin-bottom: 0.375rem;
}

#certificaciones h3 {
	margin-bottom: 0;
}

/*PROGRAMA ACADÉMICO*/

#programaAcademico h4 { /*repetido*/
	margin: 0;
	padding: 0;
}

#programaAcademico ul {
	margin: 0;
}

#programaAcademico ul li {
	margin-bottom: 1.5rem;
	list-style-type: none;
}


/*CAMPUS VIRTUAL*/
#campusVirtual h4 { /*repetido*/
	margin: 0 0 0.375rem 0;
	padding: 0;
}

#campusVirtual p { /*repetido*/
	margin: 0 0 1.5rem 0;
}

/*REQUISITOS*/

#requisitos ul {
	margin-top: 0.375rem;
	margin-bottom: 0.375rem;
}

#requisitos ul li {
	margin-bottom: 0.375rem; /*revisar*/
}

/*FORMAS DE PAGO*/

#formasPago ul {
	margin-top: 0.375rem;
	margin-bottom: 0.375rem;
}

#formasPago ul li {
	margin-bottom: 0.375rem; /*revisar*/
}

/*PREGUNTAS Y RESPUESTAS*/
#preguntasRespuestas {
	/*background-color: #fafafa;*/
	border-top: 1px solid #f1f1f1;
	padding: 0;
}
#preguntasRespuestas h2 {
	padding-top: 4.5rem;
	margin-top: -1px;
	margin-bottom: 3rem;
}

#preguntasRespuestas .usuario, #preguntasRespuestas .usuario a {
	color: #aaa;
	margin-bottom: 0.375rem;
	/*font-size: 0.875rem;
	text-transform: uppercase;*/
 }

#preguntasRespuestas .usuario a {
	color: #03a9f4;
 }

#preguntasRespuestas .docente {
	color: white;
	padding: 0.125rem 0.25rem;
	border-radius: 0.125rem;
	margin-left: 0.5rem;
	background: #bbb;
}

#preguntasRespuestas span {
	color: #aaa;
	margin-left: 0.5rem;
}

#preguntasRespuestas .respuesta {
	margin-left: 6rem;
	margin-top: 3rem;
	margin-bottom: 4.5rem;
}

/*BARRA LATERAL*/
.barraLateral {
  background: #212121;
  /*background: rgba(0,0,0,0.5);*/
  padding: 0;
  margin: 0 0 -1px 0;
}        
/*CONTENIDO ANCLADO*/     
.anclaje {
  /*position: fixed;*/
}
.fixMargen {
  padding: 0 1.25rem;
}

/*BARRA LATERAL INSCRIPCION*/
.lateralInscripcion {
	text-align: center;
	padding: 1.5rem 0;
}

.lateralInscripcion p {
	text-transform: uppercase;
	color: #888888; 
	font-size: 0.875rem;
	line-height: 1.125rem;
	margin-bottom: 0.175rem;
	padding-top: 0.215rem;	
}
.barraLateral h1, .barraLateral h2 {
	color: #ffffff;
}

.lateralInscripcion h1 {
	padding-top: 0.075rem;
	margin-bottom: -0.075rem;
}

.lateralInscripcion h2 {
	padding-top: 0.75rem;
}

.lateralInscripcion .descripcion {
	background: #313131;
	padding: 1.3rem 1rem;
	margin: 1.275rem 0 1.125rem 0;
}

.lateralInscripcion button {
	margin: 1.5rem 0 1.125rem 0;
}



/*RECIBIR INFROMACIÓN*/

/*TARJETAS CAPACITACION*/
.targetaCapacitacion {
width: 100%;
height: 28.125em; 
position:absolute; 
z-index: 0;
background: #111111; }

.elementosTargetaCapacitacion {
position:relative; 
z-index: 1; }

.elementosTargetaCapacitacion img {
margin-top: 3.75em; }

.elementosTargetaCapacitacion .fondoFicha {
background-color: #ffffff; 
padding: 1.5em; }

.elementosTargetaCapacitacion h1 {
color: #ffffff;
text-align: center; }

.elementosTargetaCapacitacion h1:after {
border-bottom: 2px solid #03a9f4;
content: "";
display: block;
margin: 0 auto;
padding-top: 1.0625rem;
width: 30px; }

.elementosTargetaCapacitacion h3:after {
border: none;
padding-top: 0;
color: #383838; }

/*Footer*/
footer {
margin-top: 5.9375em; 
padding: 5.9375em 0 1.8125em; 0;
background-color: #111111; }

footer, footer a, footer p {
color: #515151;
line-height: 2.5;
text-transform: uppercase;
font-size: 0.875rem;
 }

footer section {
border: none;
padding-bottom: 0px;
}
footer ul {
margin: 0; }

footer ul li {
list-style-type: none; }

footer .footerNav ul li{
display: table-cell; }

footer .footerNav a {
margin-right: 1.875em; }

footer .footerNav a:hover, footer a:hover {
color: #03a9f4; }

footer .credito {
font-size: 0.75rem;
color: #313131; }

footer .divisor2 {
border-bottom: 1px solid #212121;
margin: 4.4375em 0 1.8125em 0;
}


/*Inicia media screen */

/* Small only */
@media screen and (max-width: 39.9375em) {
	#docentes .medium-expand {
		min-width: 50%;
		max-width: 50%;
	}
	#certificaciones h4 {
		padding-top: 1.125rem;
	}
	#programaAcademico .shrink {
		margin-bottom: 1.5rem;
	}
}

@media screen and (max-width: 39.9375em) and (orientation:landscape) {
	#docentes .medium-expand {
		min-width: 33%;
		max-width: 33%;
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	#programaAcademico .shrink {
		min-width: 206px;
		max-width: 206px;
	}
	#preguntasRespuestas .shrink {
		padding-right: 0;
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	#docentes .medium-expand {
		min-width: 25%;
		max-width: 25%;
	}
}

/* Large and up */
@media screen and (min-width: 64em) {
	#docentes .medium-expand {
		min-width: 20%;
		max-width: 20%;
	}
	
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/*@media only screen and (orientation:landscape)*/
/*TEMPORALES SOLO PARA PROPOSITO DE Q&A*/
.baseline {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: blue;
	position: fixed;
	top: 1rem;
	left: 1rem;
}

.apply_baseline {
	background-image: url(../imgs/baseline.png);
	background-repeat: repeat;
}